{% extends 'quiz/heart_tones_q1.html' %}

{% block content %}
    <form method="post">
        {% csrf_token %}
            <div class="text-center my-3">
                <h5>{{ question.question_text }}</h5>
                <audio
                    controls
                    src="{{ question.question_audio.url }}">
                </audio>

            </div>
            {% for radio in q2_form.ht_q2_options %}
                <div class="radiobtn">
                    {{ radio.tag }}
                    <label for="{{ radio.id_for_label }}">{{ radio.choice_label }}</label>
                </div>
            {% endfor %}
    <button type="submit" class="btn btn-outline-success float-lg-right my-2">Next</button>
    </form>
{% endblock content %}
