{% extends 'site_description/standart_page.html' %}
{% load static %}

{% block head %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Form</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v2.1.9/css/unicons.css">
    <link rel="stylesheet" href="{% static 'users/style.css' %}">
</head>
{% endblock head %}

{% block navbar_links %}
<!-- Links -->
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'auschool-home' %}">Home</a>
            </li>
        </ul>
{% endblock navbar_links %}

<body>
{% block content %}
 <div class="section">
		<div class="container">
		    <div class="row full-height justify-content-center">
				<div class="col-12 text-center align-self-center py-5">
                {% if error_dict %}
                    <p>Ошибка ввода формы, повторите</p>
{#                    <div class="row justify-content-center text-left">#}
{#                        {{ error_dict.errors }}#}
{#                    </div>#}
                {% endif %}
					<div class="section pb-5 pt-5 pt-sm-2 text-center">
						<h6 class="mb-0 pb-3"><span>Log In </span><span>Sign Up</span></h6>
			          	<input class="checkbox" type="checkbox" id="reg-log" name="reg-log"/>
			          	<label for="reg-log"></label>
						<div class="card-3d-wrap mx-auto">
							<div class="card-3d-wrapper">
								<div class="card-front">
									<div class="center-wrap">
										<div class="section text-center">
											<h4 class="mb-4 pb-3">Log In</h4>
											<div class="form-group">

                                                <input type="email" name="logemail" 
                                                class="form-style" 
                                                placeholder="Your Email" 
                                                id="logemail" 
                                                autocomplete="none">
												<i class="input-icon uil uil-at"></i>
											</div>	
											<div class="form-group mt-2">
                                                <input type="password" name="logpass" 
                                                class="form-style" 
                                                placeholder="Your Password" 
                                                id="logpass" autocomplete="none">
												<i class="input-icon uil uil-lock-alt"></i>
											</div>
											<a href="#" class="btn mt-4">submit</a>
                            				<p class="mb-0 mt-4 text-center">
                                                <a href="#0" class="link">Forgot your password?</a>
                                            </p>
				      					</div>
			      					</div>
			      				</div>

								<div class="card-back">
									<div class="center-wrap">
										<div class="section text-center">
											<h4 class="mb-4 pb-3">Sign Up</h4>
                                            <form method="post">
                                            {% csrf_token %}
											<div class="form-group">

                                                {{ user_form.username }}
												<i class="input-icon uil uil-user"></i>
											</div>	
											<div class="form-group mt-2">
                                                {{ user_form.email }}
												<i class="input-icon uil uil-at"></i>
											</div>	
											<div class="form-group mt-2">
                                                {{ user_form.password1 }}
												<i class="input-icon uil uil-lock-alt"></i>
											</div>
                                            <div class="form-group mt-2">
                                                {{ user_form.password2 }}
												<i class="input-icon uil uil-lock-alt"></i>
											</div>
                                                <button class="btn mt-4" type="submit">Submit</button>
                                            </form>

				      					</div>
			      					</div>
			      				</div>
			      			</div>
			      		</div>
			      	</div>
                    {% if error_dict %}
                    <div class="row justify-content-center text-left">
                            <p>
                                {{ error_dict.errors }}
                            </p>
                        </div>
                    {% endif %}

		      	</div>
	      	</div>
	    </div>
	</div>
{% endblock content %}
</body>
</html>
