{% extends 'site_description/standart_page.html' %}
{% load static %}

{% block title %}
    <title>Lessons</title>
{% endblock title %}


{% block content %}

    <h2>Основы аускультации. Точки аускультации сердца</h2>

    <h5 class="my-4">
        Аускультацию сердца проводят в определенном порядке, обусловленным частотой поражения клапанов.
        Чаще всего изменениям подвержен <span style="color: red">митральный клапан </span>(1 точка аускультации, область верхушки сердца),
        затем слушают <span style="color: #EE7C2D;">аортальный</span> (2 точка, II межреберье по правому краю грудины),
        <span style="color: #75D612">лёгочный</span> (3 точка, II межреберье по левому краю грудины), 
        <span style="color:#3566FD;">трикуспидальный</span> (4 точка, у основания мечевидного отростка).
        <br>Точка <span style="color:#833B7F;">Боткина-Эрба</span> является дополнительной
        (5 точкой, III межреберье по левому краю грудины) выслушивания <span style="color:#833B7F;">аортального клапана</span>.
        <br>Эти точки являются местами проведения тонов и шумов сердца на грудную клетку.
    </h5>

    <img src="{% static 'lessons/img/basics/heart_auscultation_points.png' %}" class="img-fluid" alt="heart points">

    <h5 class="my-4">
        Мнемоническим приемом запоминания порядка точек аускультации является слово МАЛьТА,
        где каждая буква является первой буквой в названии соответствующего клапана.
        В процессе изучения всех аускультативных феноменов, рекомендуем постоянно держать
        в голове физиологию сердечного цикла, чтобы четко понимать, что происходит в сердце в тот или иной момент времени.
    </h5>

    <div class="text-right">
        <a class="btn btn-success" href="{% url 'heart_norm' %}" role="button">Следующий урок</a>
    </div>

{% endblock content %}