{% extends 'site_description/standart_page.html' %}

{% block content %}
<div class="container">
    <h2>Уроки. Содержание</h2>
    <div id="accordion">
        <div class="card">
            <div class="card-header">
                <a class="card-link" data-toggle="collapse" href="#collapseOne">
                    Тоны сердца
                </a>
            </div>
            <div id="collapseOne" class="collapse show" data-parent="#accordion">
                <div class="card-body">
                    <div class="mx-4">
                        <a href="{% url 'heart_basics' %}" class="list-group-item">Основы аускультации. Точки аускультации сердца</a>
                        <a href="{% url 'heart_norm' %}" class="list-group-item">Норма</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
        <div class="card">
            <div class="card-header">
                <a class="collapsed card-link" data-toggle="collapse" href="#collapseTwo">
                    Шумы сердца
                </a>
            </div>
            <div id="collapseTwo" class="collapse" data-parent="#accordion">
                <div class="card-body">
                    В разработке...
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <a class="collapsed card-link" data-toggle="collapse" href="#collapseThree">
                    Лёгкие
                </a>
            </div>
            <div id="collapseThree" class="collapse" data-parent="#accordion">
                <div class="card-body">
                   В разработке...
                </div>
            </div>
        </div>
    </div>

{% endblock content %}